<div class="card" style="margin: 8px;box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <div class="md-form mb-1">
            <div class="ps-author">
                <div class="ps-author__content" data-mh="author">
                    <div class="row">
                        <div class="col">
                            <h4 class="ct_title">Direcciones</h4>
                        </div>
                        <div class="col">
                            <button type="button" class="close"><i class="fa fa-trash"></i></button>
                            <button type="button" class="close"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                    <p>SJL</p>
                    <p class="ct_title">Av. Las flores</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body mx-2 button-container">
    <button type="button" class="btn btn-danger" block="true">Agregar direccion</button>
</div>