<div class="formulario">
    <div class="ubicación">
            <div class="campo ">
                    <p class="campo__label" >Departamento  </p>
                    <input class="campo__input" type="text" placeholder="Lima" >
            </div>
            <div class="campo " >
                    <p class="campo__label" >Provincia</p>
                    <input class="campo__input" type="text" placeholder="Lima" >
            </div>
    </div>
    <div class="campo " >
                    <p class="campo__label" >Distrito</p>
                    <input class="campo__input" type="text" placeholder="Lima" >
            </div>
    <div class="campo " >
                    <p class="campo__label" >Tienda </p>y
                    <input class="campo__input" type="text">
            </div>
</div>