<nav class="navbar-emark">
    <div class="row navbar-container ">
        <div class="col-md-2 navbar-section">
            <a class="navbar-brand" href="/">
                <i class="fas fa-store"></i> EMARK
            </a>
        </div>
        <div class="col-md-8 navbar-section">
            <form class="navbar-form">
                <input class="form-control buscador" type="search" placeholder="Encuentra tu producto aqui" aria-label="Search">
            </form>
        </div>
        <div class="col-md-2 navbar-section navbar-cuenta">
            <!-- <img class="navbar-icon-user" src="../../../assets/img/user.svg"/>   Mi cuenta -->
            <div class="dropdown">
                <a class=" dropdown-toggle" style="text-decoration: none !important; color: white;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true"><i class="fa fa-user"></i>
                  Mi cuenta
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li *ngIf="(auth.isAuthenticated$ | async)"><a (click)="goToLink('usuario/perfil')" class="dropdown-item">Perfil</a></li>
                    <li *ngIf="!(auth.isAuthenticated$ | async)"><a (click)="auth.loginWithRedirect()" class="dropdown-item">Iniciar sesion</a></li>
                    <li *ngIf="(auth.isAuthenticated$ | async)"><a (click)="auth.logout()" class="dropdown-item">Cerrar Sesion</a></li>
                </ul>
            </div>

        </div>


    </div>
</nav>