<nav class="navbar-emark">
    <div class="row navbar-container ">
        <div class="col-md-2 navbar-section">
            <a class="navbar-brand" href="/">
                <img class="navbar-icon" src="../../../assets/img/online-shopping.svg"/> EMARK
            </a>
        </div>
        <div class="col-md-8 navbar-section">
            <form class="navbar-form">
                <input class="form-control buscador" type="search" placeholder="Encuentra tu producto aqui" aria-label="Search">
            </form>
        </div>
        <div class="col-md-2 navbar-section navbar-cuenta">
            <img class="navbar-icon-user" src="../../../assets/img/user.svg"/>   Mi cuenta
        </div>
        
        
    </div>
 </nav>