.barra{
    height: 50px;
    background-color: red;
    display: flex;
    align-content: stretch;
}
.barra-option{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    border: 1px red solid;
}

.barra-option:hover{
    background-color: #fff;
    color: red;
}

.barra-option:active{
    
    background-color: #c0c0c0;
}
