<section>
    <div class="flex-conteiner">
        <div class="flex-item-menu">
            
            <a href="#" class="button gray large">Yo recepcionare el pedido</a>
            
            <a href="#" class="button red large">Una persona recepcionara por mi</a>

        </div>
        <div class="flex-item-txt">
            <table >
                <tr>
                    <td>Nombre y Apellidos: </td>
                    <td>
                        <input type="text" name="txt" />
                    </td>
                </tr>

                <tr>
                    <td>DNI:</td>
                    <td>
                        <input type="text" name="txt" />
                    </td>
                </tr>


                <tr>
                    <td>Teléfono:</td>
                    <td>
                        <input type="text" name="txt" />
                    </td>

                </tr>


            </table>
        </div>
        <div class="flex-item-buttons">
            <a href="#" class="button red medium">Regresar</a>
            <a href="#" class="button red medium">Siguiente</a>
            <a href="#" class="button red medium">Limpiar</a>
            
    </div>
    </div>
</section>