<div class="contenido">
    <app-barra [opciones]="opcionesMetodoPago"></app-barra>
    <div class="cuerpo-tipo-recepcion row g-0">
        <div class="col-md-5 p-3">
            <div class="input-group input-group-md mb-2 ">
                <span class="input-group-text" id="inputGroup-sizing-md">Nro tarjeta</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-md" formControlName="stock" />
            </div>
        </div>
        <div class="col-md-5 p-3">
            <div class="input-group input-group-md mb-2">
                <span class="input-group-text" id="inputGroup-sizing-md">Fecha caducidad</span>
                <input type="month" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-md" formControlName="stock" />
            </div>

        </div>
        <div class="col-md-2 p-3">
            <div class="input-group input-group-md mb-2">
                <span class="input-group-text" id="inputGroup-sizing-md">CCV</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-md" formControlName="stock" />
            </div>

        </div>
    </div>
</div>