<div class="tipo-pago">
    <app-barra [opciones]="opcionesMetodoPago"></app-barra>
        <div class="opciones-pago">
            <h2>Tarjeta de debito</h2>
        </div>
        <div class="opciones-pago">
            <a href="credito.html">
                <h2>Tarjeta de credito</h2>
            </a>
        </div>
        <div class="opciones-pago">
            <a href="billetera.html">
                <h2>Billetera digital</h2>
            </a>
        </div>
    </div>
    <div class="formulario">
        <div class="ordenar_form">
            <div class="unform">
                Nro de tarjeta:
                <input type="text" size="25" maxlength="30" name="nrotarjeta">
            </div>
            <div class="unform">
                Codigo de seguridad:
                <input type="text" size="25" maxlength="3" name="ccv">
            </div>
        </div>
        <div class="ordenar_form">
            <div class="unform">
                Fecha de caducidad:
                <input type="text" size="25" maxlength="7" name="caducidad">
            </div>
            <div class="unform">
                Pago total:
                <input type="text" size="25" maxlength="10" name="pago">
            </div>
        </div>
    </div>
