<div class="card" style="margin: 8px; margin-top: 30px;box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <div class="md-form mb-1">
            <div class="ps-author">
                <div class="ps-author__content" data-mh="author">
                    <div class="row">
                        <div class="col">
                            <h4 class="ct_title">Historial de pedidos</h4>
                        </div>
                        <div class="col">
                            <button type="button" class="close"><i class="fa fa-trash"></i></button>
                            <button type="button" class="close"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                    <p>Pedidos</p>
                    <p class="ct_title">Producto 1</p>
                </div>
            </div>
        </div>
    </div>
</div>