<div class="pedido row mt-3 mb-3">
    <div class="col">
        <div class="titulo-venta">
            Seccion del Pedido 
        </div>

        <div class="cabecera-pedido row g-0 mt-3">
            <div class="col-md-2 centrado">Imagen</div>
            <div class="col-md-4 centrado">Nombre</div>
            <div class="col-md-2 centrado">Cantidad</div>
            <div class="col-md-2 centrado">Precio Unit.</div>
            <div class="col-md-2 centrado">Precio Subtotal.</div>
        </div>
        <div class="cuerpo-pedido">
            <div *ngFor="let producto of pedido.productos" class="producto row g-0">
                <div class="col-md-2 centrado">
                    <img [src]="producto.producto.imagenesRefereciales[0]" alt="">
                </div>
                <div class="col-md-4 centrado">
                    {{producto.producto.nombre | maxLength:40:" ..."}}
                </div>
                <div class="col-md-2 centrado">
                   {{producto.cantidad}}
                </div>
                <div class="col-md-2 centrado">
                    S/{{producto.producto.precioUnidad}}
                </div>
                <div class="col-md-2 centrado">
                    S/{{producto.producto.precioUnidad*producto.cantidad}}
                </div>
        
            </div>
            
        </div>
        <div class="monto-pedido row g-0" *ngIf="pedido.productos.length!==0">
            <div class="col-md-10 ">
                <div class="monto centrado-verticalmente-derecho">
                    Monto total del pedido:
                </div>
            </div>
            <div class="col-md-2 centrado">
                S/{{monto}}
            </div>
        </div>

        <div class="sin-pedido row g-0" *ngIf="pedido.productos.length==0">
            <div class="col centrado notificacion">
                Registre primero producto en el carro para acceder a la seccion de ventas
            </div>
        </div>
    
    </div>

</div>
<div *ngIf="pedido.productos.length!==0" class="venta row mt-3 mb-3">

    <div class="col">
        <div class="titulo-venta">Seccion de la venta - {{pagina}}</div>

        <div class="seccion-venta mb-3" [ngSwitch]="pagina">
            <app-tipo-entrega *ngSwitchCase="'tipo de entrega'"></app-tipo-entrega>
            <app-tipo-recepcion *ngSwitchCase="'tipo de recepcion'"></app-tipo-recepcion>
            <app-metodo-pago *ngSwitchCase="'metodo de pago'"></app-metodo-pago>
        </div>
        <div class="navegacion-venta row">
            <div class="col-md-6">
                <button *ngIf="idPagina>1" class="btn btn-danger float-start" (click)="navegar(idPagina-1,'izquierda')">
                    <i class="fas fa-angle-left me-1"></i>
                    {{obtenerPaginacion(idPagina-1)}}</button>
            </div>
            <div class="col-md-6">
                <button *ngIf="idPagina<3" class="btn btn-danger float-end"
                    (click)="navegar(idPagina+1,'derecha')">{{obtenerPaginacion(idPagina+1)}} <i
                        class="fas fa-angle-right ms-1"> </i></button>
                <button *ngIf="idPagina==3" class="btn btn-success float-end"
                    [routerLink]="['/comprobante',0]">{{obtenerPaginacion(idPagina+1)}} <i
                        class="fas fa-angle-right ms-1"> </i></button>
            </div>

        </div>
    </div>


</div>