<div class="dropdown carro">

    <a class="boton-carro dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
        (click)="obtenerCarro()"> <i class="fas fa-shopping-cart"></i> <i
            class="fas fa-angle-down espaciado-izquierdo"></i></a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-carro" aria-labelledby="dropdownMenuButton2">
        <li class="cabecera-dropdown centrado-vertical bordes-iniciales-redondeados"> Carro de compras Emark</li>
        <li *ngFor="let producto of pedido.productos; let idx = index">
            <app-producto-carro [productoSolicitado]="producto" [indice]="idx"
                (emitirProductoCarro)="actualizarCarro($event)"></app-producto-carro>
        </li>
        <li class="opciones-dropdown bordes-finales-redondeados row g-0">
            <div class="col centrado-vertical">
                Monto Total: S/ {{montoTotal | number:'1.2-2'}}
            </div>
            <div class="col fila-inversa ">
                <a class="boton-opciones centrado-vertical" (click)="navegar()"> Realizar pedido </a>
            </div>
        </li>
    </ul>

</div>