a {
    text-decoration: none;
}
.menu-emark{
    background-color: rgb(255,0,0); 
    height: 60px;
    margin: 2px 0 0 0;
    color:#fff !important;
    position: relative;
}

.menu-categorias{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff ;
    font-weight:bold;
    width: 100%;
    height: 100%;
    font-size: 16px;
}


.menu-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;    
    font-size: 12px;
}
.menu-section:hover {
    color: rgb(255,0,0) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 12.5px;
}

.menu-categorias:hover{
    color: rgb(255,0,0) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 20px !important;
}

.menu-carro:hover{
    color: rgb(255,0,0) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 20px !important;
}

.espaciado-izquierdo{
    margin:0 0 0 6px
}




/* CATEGORÍAS */
.category-container {
    background-color: red;
    height: 100vh;
    min-width: 300px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 20;
}
.category {
    padding: 0;
    position: relative;
}

.category-item {
    display: block;
    padding: 15px 60px 15px 15px;
    color: white;
    
}

.category-item:hover {
    background-color: rgb(195, 0, 0);
}

.item-tittle {
    font-size: 20px;
    color: white;

}

.text {
    color: white;
    font-size: 16px;
}

.subitem {
    position: absolute;
    background-color: white;
    left: 100%;
    top: 60px;
    padding: 15px;
    display: none;
    width: 50rem;
    height: 100vh;
    flex-direction: column;

}

.category-item:hover > .subitem{
    display: flex;
}


/* sub menu stylos*/
.tittle {
    margin: 7px 0;
}

.tittle span {
    color: red;
    font-weight: 600;
    font-size: 25px;
    padding: 10px 0;
}

.category-list-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    padding: 15px 0;
}

.category-list-inner > .item {
    margin: 0 10px 12px 0;
    padding: 7px 0;
}

/* stylos a los pequeños bloques */
.subcat-item {
    
}
.item-link2 .text {
   color: red;
   font-size: 1.1em;
}

.item-link3 .text {
   color: gray;
   font-size: 1.1em;
}





/* MODAL */
.cmodal {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 31, 31, 0.705);
}
